# Basic Python Operations

This notebook presents a comprehensive review of basic python concepts

## Table of Contents
<li><a href="#Dict">Dictionaries<a></li>
<li><a href="#Tuple">Tuples<a></li>
<li><a href="#Set">Sets<a></li>
<li><a href="#Bool">Comparison Operators<a></li>
<li><a href="#Logic">Logical Operators<a></li>
<li><a href="#control"> Control Flow <a></li>

<a id="Dict"></a>
### Dictionaries
Using Keys and indexing grab the "Hello" from the dictionaries

In [1]:
d = {'simple_key':'hello'}

In [4]:
# Grab 'hello'
d["simple_key"]

'hello'

In [5]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

In [6]:
d["k1"]["k2"]

'hello'

In [7]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello

In [9]:
d["k1"][0]["nest_key"][1][0]

'hello'

Question: 

Can you sort a dictionary? Why or why not?

A dictionary cannot be sorted because all dictionaries are mappings and not sequences

<a id="Tuple"></a>
### Tuple

Question:

What is the major difference between tuples and lists?
How do you create a tuple?

The Major difference between a Tuple and a list is that while a list is mutable a Tuple is not.
Tuples are created using Parenthesis "()". See example below

In [10]:
t = (2,3,4,5)

<a id="Set"></a>
### Sets

Question:
What is unique about a set?

What makes a set unique, is that it can only jold unique elements, and subsequent repetitions are ignored

In [13]:
# To demonstrate the uniqueness of sets

list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [14]:
set(list5) # Employs the use of the Set() function

{1, 2, 3, 4, 11, 22, 33}

<a id="Bool"></a>
### Comparison Operators

In [15]:
# Equal to "=="
2 == 2

True

In [26]:
# When comparing strings, capitalisation counts

"Boy" == "boy"

False

In [29]:
# During comparison, data structure type also counts
"2" == 2   # First data is a string, second an integer

False

In [17]:
# Not equal to "!="

2 == 3

False

In [18]:
2 != 3

True

In [20]:
# Greater than or Less than "> or <"
2 > 3 # is 2 greater than 3?

False

In [21]:
2 < 3 # Is 2 less than 4?

True

In [22]:
# Greater than or equal to ">="; less than or equal to "<="

2 >= 3       #Is 2 greater than or equal to 3?

False

In [23]:
2 <= 3      # is 2 less than or equal to 3?

True

Question:

What is the boolean output of the cell below?

In [25]:

# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

Explanation:

l_one[2][0] == 3

l_two[2]['k1'] == 4

In [39]:
2 <= 3 >= 1     # The best way to comprehend this is (2<=3) and (3>=1). This expression illustrates the need for logical operators

True

<a id="Logic"></a>
### Logical Operators

These allow us to combine comparison operators and they include "AND", "OR" and "NOT"

In [35]:
2 > 3 and 1 != 4      # The logical operator AND chains these two comparison together. Requires both condition to be true

False

In [32]:
(10 > 3) and (1 != 4)

True

In [36]:
(2 > 3) or (1 != 4)     # Queries if the first or the second section is true. Requires at least one section to b true

True

In [38]:
not 4 == 1   # compares both

True

<a id="control"></a>
### Control Flow

This allows us to employ logic in creating loops using different python statements. These control flow statements make use of colon and indentation (whitespace) as will be demonstrated below

#### "If", "Else" and "Elif"

In [42]:
if 3 > 2:
    print("True")

True

In [45]:
if 3 > 2:
    print (3 * 2)
else:
    print("Not Applicable")

6

In [46]:
if 1 > 2:
    print (3 * 2)
else:
    print("Not Applicable")

Not Applicable

In [70]:
# Creating a name question and answer session using the if, elif and else

user_name = input("Please input your name: ")  # request user to input their name
if user_name == "Archibong":                   # calls on the if statement given the condition user_name == "Archibong" has been met    
    print(f"Your name is: {user_name}")
else:                                          # Calls on the else statement given that the condition was not met
    print("Please have your name added. Good bye. ")

Please input your name: Archibong
Your name is: Archibong

In [73]:
# Creating a name question and answer session using the if, elif and else

user_name = input("Please input your name: ")  # request user to input their name
if user_name == "Archibong":                   # calls on the if statement given the condition user_name == "Archibong" has been met    
    print(f"Your name is: {user_name}")
else:                                          # Calls on the else statement given that the condition was not met
    print(f" {user_name} please have your name added. Good bye. ")

Please input your name: Goodluck
 Goodluck please have your name added. Good bye.

In [75]:
# For loops
# The control flow statements allow us to create iterable loops within python

In [76]:
name = "ARcHIBONG"   # Declares a predefined string

for iteration in name: # calls the for statement, saved on a temporary placeholder called iteration
    print(iteration)

A
R
c
H
I
B
O
N
G

In [77]:
# if a diffeent value data from the placeholder value is provided, it loop over the provided value

for iteration in name: # calls the for statement, saved on a temporary placeholder called iteration
    print("Goodluck")  # different data from placeholder iteration

Goodluck
Goodluck
Goodluck
Goodluck
Goodluck
Goodluck
Goodluck
Goodluck
Goodluck

In [78]:
num = [1,2,3,4,5,6,6,8,9,0,0,11]   #declares a list of numbers
for num_place in num:
    if num_place % 2 == 0:         # Combines an inner if statement within
        print(num_place)
    else:
        print(f"This number {num_place}, is an odd number")

This number 1, is an odd number
2
This number 3, is an odd number
4
This number 5, is an odd number
6
6
8
This number 9, is an odd number
0
0
This number 11, is an odd number

In [80]:
# Tuple unpacking using the for loop

t = [(2,3,2), (33,5,33), (3,2), (8,7,432,2,4)]     # Declares a tuple within a list
for _ in t:
    print(_)    # Unpacks the tuple contained within the list

(2, 3, 2)
(33, 5, 33)
(3, 2)
(8, 7, 432, 2, 4)

In [85]:
# A different demonstration of Tuple unpacking using the for loop

t = [(2,3), (33,33), (3,2), (8,4)]     # Declares a tuple within a list
for (a,b) in t:
    print(a)    # Unpacks the tuple contained within the list

2
33
3
8

In [87]:
# iterating through a dictionary

d = {"k1":5, "k2":8, "k3": 4}
for items in d:
    print(items)   # Only returns the keys, but not the values

k1
k2
k3

In [89]:
for items in d.items():   #calls the .item method to enable us iterate through the values and keys
    print(items)          # prints the key value pair as a tuple

('k1', 5)
('k2', 8)
('k3', 4)